.List {
    font-family: sans-serif;
    text-align: center;
  }

table tbody tr td{
  border: 1px solid black;
  text-align: center;
}

td {
  width: 200px;
  height: 200px;
}

table{
  width: 600px;
  height: 600px;
}

#footer{
  font-size: 30px;
  text-align: left;
}

